/********** Template CSS **********/
:root {
  --primary: #0cda32;
  --secondary: #0b8a00;
  --light: #f6f7f8;
  --dark: #033501;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 2em;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 13px;
}

.bg-grass {
  background-color: #07c900;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover,
.btn.btn-secondary,
.btn.btn-outline-secondary:hover {
  color: #ffffff;
}

.btn.btn-primary:hover {
  background: var(--secondary);
  border-color: var(--secondary);
}

.btn.btn-secondary:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.btn-square {
  width: 38px !important;
  height: 38px !important;
}

.btn-sm-square {
  width: 32px !important;
  height: 32px !important;
}

.btn-lg-square {
  width: 48px !important;
  height: 48px !important;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Navbar ***/
.navbar.sticky-top {
  top: -100px;
  transition: 0.5s;
}

.navbar .navbar-brand img {
  max-height: 60px;
}

.navbar .navbar-nav .nav-link {
  margin-left: 25px;
  padding: 10px 0;
  color: #6b7769;
  font-weight: 400;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

@media (max-width: 991.98px) {
  .navbar .navbar-brand img {
    max-height: 45px;
  }

  .navbar .navbar-nav {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .navbar .nav-item .dropdown-menu {
    padding-left: 30px;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(10, 53, 1, 0.8);
  z-index: 1;
}

 .carousel-item {
   text-align: center;
 }

 .carousel-item p {
   font-style: italic;
 }
 
.carousel-control-prev,
.carousel-control-next {
  width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--dark);
  border: 12px solid var(--dark);
  border-radius: 3rem;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-header {
  background: linear-gradient(rgba(11, 53, 1, 0.8), rgba(20, 53, 1, 0.8)),
    url(../img/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}

.page-header .breadcrumb-item a,
.page-header .breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

.page-header .breadcrumb-item a:hover,
.page-header .breadcrumb-item.active {
  color: var(--primary);
}

/*** Facts ***/
.facts {
  position: relative;
}

.facts * {
  position: relative;
  z-index: 1;
}

.facts::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(13, 53, 1, 0.8);
}

/*** Quote ***/
@media (min-width: 992px) {
  .container.quote {
    max-width: 100% !important;
  }

  .container.quote .quote-text {
    padding-left: calc(((100% - 960px) / 2) + 0.75rem);
  }

  .container.quote .quote-form {
    padding-right: calc(((100% - 960px) / 2) + 0.75rem);
  }
}

@media (min-width: 1200px) {
  .container.quote .quote-text {
    padding-left: calc(((100% - 1140px) / 2) + 0.75rem);
  }

  .container.quote .quote-form {
    padding-right: calc(((100% - 1140px) / 2) + 0.75rem);
  }
}

@media (min-width: 1400px) {
  .container.quote .quote-text {
    padding-left: calc(((100% - 1320px) / 2) + 0.75rem);
  }

  .container.quote .quote-form {
    padding-right: calc(((100% - 1320px) / 2) + 0.75rem);
  }
}

.container.quote .quote-text,
.container.quote .quote-form {
  position: relative;
}

.container.quote .quote-text *,
.container.quote .quote-form * {
  position: relative;
  z-index: 1;
}

.container.quote .quote-text::after,
.container.quote .quote-form::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container.quote .quote-text::after {
  background: rgba(13, 53, 1, 0.8);
}

.container.quote .quote-form::after {
  background: rgba(255, 255, 255, 0.8);
}

.container.quote .quote-text .h-100,
.container.quote .quote-form .h-100 {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*** Service ***/
.service-item .service-icon {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-item .service-icon img {
  max-width: 60px;
  max-height: 60px;
}

/*** Footer ***/
.footer {
  color: #0cc935 !important;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #7f8499;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #7f8499;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--primary);
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .btn.btn-square {
  color: #79aa66;
  border: 1px solid #82997f;
}

.footer .btn.btn-square:hover {
  color: var(--light);
  border-color: var(--primary);
}

.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--primary);
}

.footer .copyright a:hover {
  color: #ffffff;
}

.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 999;
}

.floating-buttons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #25d366;
  text-align: center;
  line-height: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.floating-buttons a:hover {
  transform: scale(1.1);
}

.whatsapp-button img,
.call-button img {
  width: 30px;
  height: 30px;
}

.call-button {
  background-color: #34b7f1;
  /* Call button color */
}
.swiper-container {
  width: 100%;
  height: 400px;
  /* Adjust as needed */
}